*.~*
*.rar
*.7z
*.bmp
*.gif
*.ico
*.ilf
*.ilc
*.hlp
*.tds
*.db
*.htm
*.xls
*.rnr
*.doc
*.rtf
max++/
*.vir
*.new
*.psd
*.jpg
*.rdb
*.html
*.tx
deb_flag-
eee
list
regtype
res_comp
vista-vbr
Web Data
*.vbr
*.sql
atapi.sys
symmpi.sy_
ATAPI.SY_
regguard.sy
BlogPost.str
*.rr2
*.reg
*.old
*.log
*.exe*
rplatc.eng
stub.e
Debug/
